html {
  font-size: 8px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.goal-header>canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 3rem;

}

h2 {
  font-size: 2rem;
}

time {
  font-size: 2rem;
}

label {
  font-size: 1.75rem;
  padding: 1rem;
}

.goal-header {
  color: #fff;
  position: relative;
  height: 10rem;
  /*box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24);*/
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.container {
  margin: 0 2rem;
}

#goalField {
    margin: 2.5rem auto 0 auto;
    width: calc(100vw - 32px);
    text-align: center;
}

#button-array{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.button {
  cursor: pointer;
  border-radius: 50%;
  font-size: 2.5rem;
  height: 5rem;
  margin: 2rem;
  width: 5rem;
  border: 0;
  padding: 0;
  background: #00acc1;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  line-height: normal;
}

.button i {
  margin: .4rem auto;
  color: #fff;
}

input {
  margin: 4.5rem auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7)
}

#goalField input {
  width: 87vw;
  font-size: 2.2rem;
}

#dateField input {
  width: 50%;
  margin: 2.5rem auto;
  padding: .1rem;
  text-align: center;
}

#dateField, #freqField {
  margin: 2.5rem auto;
  display: flex;
  text-align: center;
  width: calc(100vw - 32px);
}

#freqField input{
  align-items: center;
}

span {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 1.75rem;
}

#datespan:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

#datespan:valid+span:after {
    content: '✓';
    padding-left: 5px;
}
