/*- - RESET - - */

body {
  font-family: helvetica, sans-serif;
  }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex .row {
  flex-direction: row;
}

.flex-list {
  justify-content: flex-start;
}

.shadow {
  border: 3px solid #ccc;
  box-shadow: 1px 1px 5px 1px #ccc;
}


/*- - BUTTONS - - */

.button-wrap {
  margin-top: 3rem;
  width: 90vw;
  max-height: 60vh;
  height: 90vw;
}

.button-row {
  width: 100%;
  height: 50%;
}

.category-button {
  border: none;
  font: 18px helvetica;
  flex: 1;
  height: 40vw;
  max-height: 150px;
  width: 40vw;
  max-width: 150px;
  margin: 2vw;
}

/*- - GOALS LIST - - */
.home-goals.goal-list.learn {
  top: 0;
}

.goals-header.expand-click {
  margin: 3rem 0 3rem 0;
  font-size: 2.5rem;
}

.goals-list {
  position: fixed;
  overflow: hidden;
  background-color: #fdfd96;
  width: 90vw;
  height: 93vh;
  bottom: 20px;
  left: calc((5vw) - 3px);
  max-height: 8rem;
  margin-top: 7vh;
  transition: max-height 0.5s;
}
.goal-list time {
  right: 4rem;
  /*display: none;*/
}
.goals-list.expanded {
  max-height: 78vh;
  overflow: scroll;
}

.expand-click {
  cursor: pointer;
  width: 100%;
  text-align:center;
}
