/*- - RESET - - */

body {
  font-family: helvetica, sans-serif;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex .row {
  flex-direction: row;
}

.flex-list {
  justify-content: flex-start;
}

.shadow {
  /*border: 3px solid #ccc;
  box-shadow: 1px 1px 5px 1px #ccc;*/
}

/* - - AVATAR - - */

.avatar-wrap {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
  top: -675px;
  z-index: 2;
  /*transform: translateY(-675px);*/
}

.avatar-wrap.avatar-down {
  top: 0;
}

.avatar-wrap.avatar-down img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*- - BUTTONS - - */

.button-wrap {
  margin-top: 3rem;
  width: 90vw;
  max-height: 60vh;
  height: 90vw;
}

.button-row {
  width: 100%;
  height: 50%;
}

.category-button {
  background-color: rgba(255,255,255,0.5);
  color: #253494;
  border: none;
  font: 18px helvetica;
  flex: 1;
  height: 40vw;
  max-height: 150px;
  width: 40vw;
  max-width: 150px;
  margin: 2vw;
}

.button-icon {
  max-height: 50%;
  color: #081d58;
}

/*- - GOALS LIST - - */
.home-goals.goal-list.learn {
  top: 0;
}
.goals-header-wrap {
  width: 100%;
  background-color: #253494;
  color: white;
}
.goals-header.expand-click {
  margin: 3rem 0 3rem 0;
  font-size: 2.5rem;
}

.goals-list {
  position: absolute;
  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
  width: 90vw;
  height: 93vh;
  bottom: 20px;
  left: calc((5vw) - 3px);
  max-height: 8rem;
  margin-top: 7vh;
  transition: max-height 0.5s;
  z-index: 2;
}
.goal-list time {
  right: 4rem;
  /*display: none;*/
}

.goals-list.expanded {
  max-height: 78vh;
  overflow: scroll;
}

.pointer {
  cursor: pointer;
}

.expand-click {
  width: 100%;
  text-align:center;
}
